#c{
    
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
   font-size: medium;
    background-color: rgb(157, 18, 97);
   color: rgb(220, 175, 40);
    text-align: center;
}
table{
    margin-left: auto;
    margin-right: auto;
}

